.play-card {
    position: relative;  
    margin: 5px;
    height: calc(13vmin - 40px);
    width: calc(13vmin - 40px);
}

.play-card-content { 
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFB92F;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.flipped {
    transform: rotateY(180deg);
}

.card-up {
    background-color: #FFB92F;
}


.play-card-content .card-face-down {
    position: absolute;
    padding: 20px;
    overflow: hidden;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.play-card-content .card-face-up {
    position: absolute;
    padding: 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.card-image img {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0); 
}