.play-card {
    background-color: #372C4E;
}

.card-image-container {
    max-width: 60px;
}

.play-card img {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0); 

    max-width:100%;
    height: auto;
}