.game-container {

}

.game-board {
    display: inline-block;
    background-color: #736288;
    width: 100vmin;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}