.game-container {

}

.game-board {
    display: flex;
    background-color: #736288;
    width: 80%;
    height: 80vh;
    min-width: 840px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}